<mat-card
  appearance="outlined"
  selectable
  [class.selected]="this.selected()"
  [class.constructed]="this.data()?.constructed"
  tabindex="0"
  class="without-tab-index"
>
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="getBgIcon(data()?.name)">
    </div>
    <mat-card-title>{{ data()?.name }}</mat-card-title>
    <div class="spacer"></div>
    <mat-checkbox [labelPosition]="'before'" [checked]="data()?.constructed" (change)="constructedCheckChange($event)">Construit</mat-checkbox>
  </mat-card-header>
  <mat-divider />
  <mat-card-content>
    <div class="row">
      <div class="column">
        @for(input of recipe.inputs; track input.name) {
        <div>
          <div class="row">
            <input disabled type="number" value="{{ (60 / recipe.time) * input.quantity * overclock() / 100 }}" />

            <div><div class="icon" [style.background-image]="getBgIcon(input.name)"></div>{{ input.name }}</div>
          </div>
          <handle position="left" type="target" [id]="input.name" />
        </div>
        }
      </div>
      <div class="column">
        @for(output of recipe.outputs; track output.name) {
        <div>
          <div class="row">
            <div>{{ output.name }}<div class="icon" [style.background-image]="getBgIcon(output.name)"></div></div>
            <input disabled type="number" value="{{ (60 / recipe.time) * output.quantity * overclock() / 100}}" />
          </div>
          <handle position="right" type="source" [id]="output.name" />
        </div>
        }
      </div>
    </div>
  </mat-card-content>
  <mat-divider />
  <mat-card-footer>
    <mat-chip-set>
      <mat-chip>{{recipe.building}}</mat-chip>
    </mat-chip-set>
    <mat-form-field subscriptSizing="dynamic" class="thin-input">
      <input matInput type="number" value="100" min="1" max="250" (change)="overclockChange($event)">
      <span matTextSuffix>%</span>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
