<mat-card appearance="outlined" selectable [class.selected]="this.selected()" tabindex="0" class="without-tab-index">
  <mat-card-header>
    <mat-card-title>{{ data()?.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider />
  <mat-card-content>
    <div class="row">
      <div class="column">
        @for(input of recipe.inputs; track input.name) {
        <div>
          <div class="row">
            <input type="number" value="{{ (60 / recipe.time) * input.quantity }}" />
            <div>{{ input.name }}</div>
          </div>
          <handle position="left" type="target" [id]="input.name" />
        </div>
        }
      </div>
      <div class="column">
        @for(output of recipe.outputs; track output.name) {
        <div>
          <div class="row">
            <div>{{ output.name }}</div>
            <input type="number" value="{{ (60 / recipe.time) * output.quantity }}" />
          </div>
          <handle position="right" type="source" [id]="output.name" />
        </div>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
