.row {
    display: flex;
    flex-direction: row;

    &>.column:last-of-type {
        .ng-star-inserted {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
        padding-left: 20px;
    }
}

mat-divider {
    margin-top: 10px;
    padding-bottom: 10px;
}

mat-card-header {
    align-items: center;
    justify-content: center;
    display: flex;

    mat-card-title,
    mat-checkbox {
        flex-grow: 0;
    }

}

mat-card {
    background-color: hsla(240, 3%, 7%, 0.8);

    &.selected {
        border: 1px solid gold;
    }

    &.constructed {
        background-color: hsla(140, 87%, 9%, 0.8);
    }
}

mat-card-footer {
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

    mat-form-field {
        max-width: 60px;
        --mat-form-field-container-height: 30px;
        --mat-form-field-filled-label-display: none;
        --mat-form-field-container-vertical-padding: 5px;
        --mat-form-field-filled-with-label-container-padding-top: 5px;
        --mat-form-field-filled-with-label-container-padding-bottom: 5px;

        ::ng-deep {
            .mdc-text-field {
                padding: 0 7px;
            }
        }
    }

    input {
        max-width: unset;
        text-align: right;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
}

input {
    max-width: 60px;
}

.spacer {
    flex: 1;
}

.icon,
.mat-mdc-card-avatar {
    background-size: cover;
    margin-bottom: 0;

}

.icon {
    position: relative;
    top: 4px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.ng-star-inserted {
    display: flex;
}
