.row {
    display: flex;
    flex-direction: row;

    &>div:not(:first-child) {
        padding-left: 20px;

        input {
            margin-left: 20px;
        }
    } 
}

.column {
    display: flex;
    flex-direction: column;
}

mat-divider {
    margin-top: 10px;
    padding-bottom: 10px;
}

mat-card-header {
    align-items: center;
    justify-content: center;
}

mat-card {
    background-color: hsla(240, 3%, 7%, 0.795);

    &.selected {
        border: 1px solid gold;
    }
}

input {
    max-width: 60px;
}
