<svg:svg rootSvgRef editorSizeController rootPointer rootConnectionContext class="root-svg" #editor>
  <defs [markers]="markers()" editorDefs />
  <g [background]="background" />

  <svg:g mapContext spacePointContext>
    <svg:g connection [model]="connection" [template]="connectionTemplateDirective?.templateRef" />

    @for (model of nodeModels(); track model.node) {
    <svg:g
      node
      [nodeModel]="model"
      [nodeTemplate]="nodeTemplateDirective?.templateRef"
      [groupNodeTemplate]="groupNodeTemplateDirective?.templateRef"
      [attr.transform]="model.pointTransform()"
    ></svg:g>
    } @for (model of edgeModels(); track model.edge) {
    <svg:g
      edge
      [model]="model"
      [edgeTemplate]="edgeTemplateDirective?.templateRef"
      [edgeLabelHtmlTemplate]="edgeLabelHtmlTemplateDirective?.templateRef"
    ></svg:g>
    }
  </svg:g>
</svg:svg>
