<div class="container">
  <h1>Satisfactory Editor</h1>
  <div class="spacer"></div>
  <mat-checkbox [checked]="true" (change)="dagreCheckedChange($event)">Dagre Render</mat-checkbox>
</div>

<editor
  view="auto"
  [background]="background"
  [nodes]="nodes()"
  [edges]="edges()"
  [connection]="connectionSettings"
  (onConnect)="createEdge($event)"
  (onConnectCancel)="triggerOverlay($event)"
  (contextmenu)="rightClick($event)"
  [maxZoom]="3"
  [minZoom]="0.1"
>
  <ng-template edge let-ctx>
    <svg:path
      class="without-tab-index"
      selectable
      [attr.d]="ctx.path()"
      [attr.stroke]="ctx.selected() ? 'red' : ctx.data?.color ? ctx.data.color : '#b1b1b7'"
      fill="none"
      stroke-width="2"
      [attr.marker-end]="ctx.markerEnd()"
      tabindex="0"
      (keydown.backspace)="ctx.selected() && deleteEdge(ctx.edge)"
      (keydown.delete)="ctx.selected() && deleteEdge(ctx.edge)"
    />
  </ng-template>
</editor>

<!-- hidden anchor for overlay -->
<div id="overlay-anchor" #anchor></div>
